@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


:root {
  --bg-primary: #f8fafc;
  --bg-card: #ffffff;

  --text-main: #1e293b;
  --text-muted: #64748b;

  --accent-color: #e94560;
  --accent-hover: #d2334c;

  --border-light: #e2e8f0;

  --shadow-card:
    0 4px 10px rgba(15, 23, 42, 0.04);

  --color-success: #10b981;
  --bg-success: #ecfdf5;

  --color-danger: #ef4444;
  --bg-danger: #fef2f2;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}

.naa-title-underline {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background: #e94560;
  border-radius: 2px;
}



html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1; /* pushes footer to bottom */
}
